@font-face {
    font-family: "Faktum-SemiBold";
    src: url('assets/fonts/Faktum-SemiBold.otf');
    font-style: normal;
}

h1 {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff !important;
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff !important;
    font-size: calc(1.325rem + 0.9vw);
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-weight: 100;
    font-size: calc(1.3rem + 0.6vw);
    text-align: center;
    padding-top: 10px;
}

h4 {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-weight: 200;
    font-size: calc(1.275rem + 0.3vw);
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
}

p {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 1.1rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    text-transform: none;
    font-weight: 400;
}

span {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size: 1.1rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    text-transform: none;
    font-weight: 400;
}

/* Buttons */
.btn-primary {
    color: #ffffff;
    background-color: #6AA188;
    width: 100%;
    font-size: 1.3em;
    margin-top: 20px;
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    outline: none;
    border: 3px solid #C29751;
    border-radius: 5px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:hover {
    background-color: #6AA188 !important;
    box-shadow: none !important;
    outline: none;
    color: #2e6267;
    border: 0px none;
    border-style: none !important;
    filter: brightness(110%);
}

/* Form related */
.form-check {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

option {
    background-color: #005143;
    color: #ffffff;
}

select.form-control,
select.form-control:focus,
select.form-control:active {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    -webkit-appearance: menulist;
    color: #005143;
    padding-bottom: 1.1vh;
    padding-top: 1.1vh;
    min-height: 4vh;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: 3px solid #C29751 !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control,
.form-control:focus,
.form-control:active {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: none;
    padding-bottom: 0.8vh;
    margin: 0px;
    color: #005143;
    background-color: #ffffff;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 3px solid #C29751 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 0.8vh;
    min-height: 4vh;
}

.form-check-input,
.form-check-input:focus {
    background-color: #ffffff;
    border: none;
    outline: 0;
    border-radius: 2px !important;
}

.form-check-input:checked {
    background-color: #005143;
    border: 2px solid #ffffff;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.input-date {
    color: #005143;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: 3px solid #C29751 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #ffffff;
}

.input-date:focus-visible {
    outline: none;
}

label {
    color: #ffffff;
    padding: 10px 0px 5px;
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    text-transform: none;
    font-weight: inherit;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-fill-out {
    padding-left: 5px;
    padding-right: 5px;
}

/* file upload input */
#fileUpload {
    text-transform: lowercase;
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    width: 100%;
    min-height: 5vh;
    background-color: #ffffff;
}

::file-selector-button {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    color: #ffffff;
    padding: 1.2vh 2vw;
    border-radius: 0px;
    background-color: #ffffff;
    height: 100%;
}

/* placeholder text */
.form-control::placeholder,
.input-date::placeholder {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C7D9DA;
    opacity: 1;
    font-size: 0.9em;
}

::placeholder {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C7D9DA;
}

input[type="text"].form-control::-webkit-input-placeholder,
input[type="tel"].input-date::-webkit-input-placeholder {
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C7D9DA;
}

.aria-labelledby {
    color: #C7D9DA;
}

/* header */
.logo-desktop,
.logo-mobile {
    width: 100%;
}

.logo {
    margin-bottom: 5vh;
    display: block;
    margin-top: 8vh;
}

/* Footer section */
section.footer {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-area {
    display: flex;
    justify-content: center;
}

/* XS mobile rules */
@media (min-width:0px) and (max-width:400px){
    .body-content {
        min-height: 63vh;
    }
}

/* Mobile rules */
@media (min-width:400px) and (max-width:767px) {
    .logo #mobile {
        min-height: 300px;
        max-height: 400px;
    }

    .body-content {
        min-height: 63vh;
    }
}

/* Desktop rules */
@media (min-width:768px) {
    .logo #mobile {
        visibility: hidden;
        display: none;
    }

    .body-content {
        min-height: 50vh;
    }
}

/* links */
a {
    color: #ffffff;
    text-decoration: underline;
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 600;
    font-style: normal;
}

a:hover {
    color: #ffffff !important;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #ffffff !important;
}

/* general layout */
.body-content {
    overflow: hidden;
    display: block;
    padding-bottom: 10vh;
}

hr {
    margin: 1rem 0;
    color: inherit;
    opacity: 1;
    border-top-width: 2px;
    border-top-color: #ffffff;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 100%;
}

#divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: #005143;
    min-height: 90vh;
}

/* Spin wheel */
.spin-wheel-wrap {
    position: relative;
    width: 100%;

    /* max-width: 420px; */
    aspect-ratio: 1 / 1;
    margin: 30px auto;
}

.spin-wheel-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(.12,.67,.14,1);
}

.spin-pointer-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
}

#spinBtn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.prize-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}